<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        
    <% bokem.forEach(value=>{%>
        <div>
            <H1><%=value.name%></H1>
<h2><%=value.level%></h2>
<img src='<%=value.img%>'>
</body>
</html>